@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-color: #4361EE;
  --border-color: #9999997b;
}


* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: #111111;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  /* z-index: 20 */
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.card_title {
  font-family: 'Varela Round', sans-serif;
}

.come-down {
	animation: come-down .5s ease-in-out;
	-webkit-animation: come-down .5s ease-in-out;
}

.reveals {
	animation: reveals .7s ease-in-out;
	-webkit-animation: reveals .7s ease-in-out;
}
@keyframes reveals {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		opacity: 1;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}